.Form {
  border-radius: 50px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff;
}
.input {
  border: none;
  padding: 1rem;
  border-radius: 5rem;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff;
  transition: 0.3s;
}

.input:focus {
  outline-color: #e8e8e8;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff;
  transition: 0.3s;
}
/* color table */

.inputColor {
  border: none;
  padding: 1rem;
  border-radius: 0 0 20px 20px;

  background: linear-gradient(145deg, #ffffff, rgb(255, 255, 255));
  box-shadow: 7px 7px 14px #b1b1b1, -7px -7px 14px #ffffff;
  transition: 0.3s;
}

.inputColor:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}
.inputTab {
  border-radius: 5px 5px 0 0;

  background: linear-gradient(145deg, #e1e1e1, #ffffff);
  box-shadow: 20px 20px 60px #d5d5d5, -20px -20px 60px #ffffff;
}

.inputTab:focus,
.input:active {
  border-radius: 5px 5px 0 0;
  background: #fafafa;
  box-shadow: inset 20px 20px 60px #e7e4e4, inset -20px -20px 60px #ffffff;
}

.MainColor {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff;
}
